@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: none;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 20px auto;
  font-family: "Roboto", sans-serif;
  
}

.navlinks{
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
}
.navlink{
  background-color: rgb(11, 11, 11);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  margin: 0.5rem;
  margin-bottom: 2rem;
  letter-spacing: 5px;

}

.routes{
  margin-bottom: 5rem;
  
}
.aboutPage{
  margin-left: 2rem;
  margin-right: 2rem;
}
.aboutPage h1{
    margin-bottom: 1rem;
    text-align: center;
}
.aboutPage h3{
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 1rem;
}

.aboutPage p{
  line-height: 2rem;
}

.usersBtn button{
  border: none;
  border-radius: 4px;
  color: #212121;
  background-color: rgb(210, 204, 204);
  padding: 8px;
  font-size: 16px;
  margin: 5px;
}
.usersBtn button:hover{
  background-color: #212121;
  color: #fff;
  cursor: pointer;
}

